<div class="nested-fields">
  <div class="form-control">
    <label class="label cursor-pointer">
      <% if f.object.persisted? %>
        <%= f.check_box :_destroy, { class: "checkbox" }, '0', '1' %>
      <% else %>
        <%= f.check_box :_destroy, { class: "checkbox", checked: false }, '0', '1' %>
      <% end %>
      <%= f.hidden_field :permission_id, value: f.object.permission.id %>
      <span class="label-text ml-2">
        <%= f.object.permission.name %>
      </span>
    </label>
  </div>
</div>
