<div data-controller='drawer' class="drawer drawer-end">
    <input id="invite-user-drawer" type="checkbox" class="drawer-toggle" data-drawer-target='checkbox' />
    <div class="drawer-content">
        <div class="flex justify-between items-baseline">
            <h1 class="text-2xl">Users management</h1>
            <%= link_to "Add new user", new_admin_invite_user_path,
                class: "btn btn-primary drawer-button",
                data: { turbo_frame: "invite_user_form", action: "click->drawer#open" }
            %>
        </div>

        <div class="mt-8 overflow-x-auto">
          <%= render 'table', users: @users %>
        </div>
    </div>
    <div class="drawer-side">
      <label for="invite-user-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu bg-base-100 text-base-content min-h-full w-96 p-4">
        <!-- Sidebar content here -->
        <%= turbo_frame_tag 'invite_user_form' %>
      </ul>
    </div>
</div>
