<div
    class="relative flex flex-col rounded-xl bg-white text-gray-700
    shadow-md h-[100vh] py-4 px-2.5"
>
    <div class="mb-2 flex items-center gap-4 p-4">
        <img
            src="https://www.material-tailwind.com/logos/mt-logo.png"
            alt="brand"
            class="h-9 w-9"
        />
        <p
            class="block antialiased font-sans leading-relaxed
            text-blue-gray-900 text-lg font-bold"
        >
            Creder Rails
        </p>
    </div>
    <ul class="menu menu-lg bg-base-100 rounded-box w-64">
        <li>
            <%= link_to dashboard_path do %>
                <%= lucide_icon 'layout-dashboard', class: "w-5 h-5" %>
                <span>Dashboard</span>
            <% end %>
        </li>
        <li>
            <%= link_to admin_users_path do %>
                <%= lucide_icon 'users', class: "w-5 h-5" %>
                <span>Users</span>
            <% end %>
        </li>
    </ul>
</div>
